@import url(http://fonts.googleapis.com/css?family=Monoton);

* {
  box-sizing: border-box;
}
body {
background:white;

}
.jsbody {
  background-image: url("../img/paint.png");
  background-size:70%;
  width:70%;
  height: 70%;
  background-repeat: no-repeat;

}

#brush {
  width: 190px;
  height: 100px;
  background-color: #E7E5DB;
  border: 1px solid black;

}
.page {
  display:flex;
  justify-content: space-around;
}



#canvas {
  width: 1000px;
  height: 1000px;

  background-color: #E7E5DB;
  margin-bottom: 250px;

}
.main {
  margin-left:5%;
  justify-content:space-around;
  align-items:stretch;
  display: flex;

}

li {
  list-style-type: none;
}
.draw {
  justify-content:center;
  align-items:center;
  display: flex;
  margin-top: 0px;
}
.vertical {
  display:flex;
  flex-direction: column;
}

.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  border: 1px solid gray;
  margin: 0;
}
.text {
  margin-left: 0px;
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  text-align: center;
  color: #FF5284;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  margin-right: 220px;
}
h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: 100;
  color: black;
  margin-top: 0px;
  margin-left: 40px;
}
.controls {
margin:10px 0px 0px 100px;
align-items: flex-start;
display: flex;
flex-direction: column;
}
#set-color {
  font-family: 'Permanent Marker', cursive;
}
img {
  width:50%;
  height:50%;
  margin-left:-6%;
  margin-top:-0%;
}
.thing {
  font-family: 'Permanent Marker', cursive;
  color:black;
  font-size:45px;
  margin-top:2%;
}
li {
  font-family: 'Permanent Marker', cursive;
  color:#B253E0;
  font-size:34px;
}

@media only screen and (max-width: 767px) and (min-width: 325px) {
  .page {
    display:flex;
    flex-direction: column-reverse;
  }
  img {
    width:100%;
    height: 100%;
    margin:-120% 0 0 0;
  }
  .thing {
    font-size: 38px;
    margin-left: 68%;
  }
  ul {
    margin-left: -5%;
}
#set-color {
  font-size: 30px;
}
.jsbody {
  background-size:100%;
  width:100%;
  height: 70%;
  background-repeat: no-repeat;

}
input {
  border: 1px solid black;
}
.controls {
  margin:0px;
}

}
