@import url(http://fonts.googleapis.com/css?family=Monoton);

* {
  box-sizing: border-box;
}
body {
  background-color: #CBF6FF;
}

#brush {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid black;
  margin: 15px auto;
}

#canvas {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  background-color: lightgray;
  margin-bottom: 250px;
  margin-top: 5px;
}
.main {
  justify-content:space-around;
  align-items:stretch;
  display: flex;

}
.draw {
  justify-content:center;
  align-items:center;
  display: flex;
  margin-top: 0px;
}

.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  border: 1px solid grey;
  margin: 0;
}
.text {
  margin-left: 0px;
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  text-align: center;
  color: #FF5284;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-right: 200px;
}
h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: 100;
  color: black;
  margin-top: 0px;
  margin-left: 50px;
}
.controls {
  text-align: center;
  margin-top: 30px;
  margin-right: 50px;
}
#set-color {
  font-family: 'Indie Flower', cursive;
}
#form {
  margin-top: 0px;
}
